@font-face{
    font-family: fuentetexto1;
    src: url("CELEBRATE RETRO.ttf");
}
@font-face{
    font-family: fuentetexto2;
    src: url("Mainstay.ttf");
}
@font-face{
    font-family: fuentetexto3;
    src: url("ArabillaSignature-Regular.ttf");
}
